<div style="display: flex; flex-direction: column">
    <h1>Welcome to Ecommerce</h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/api/products">Our products</a>
</div>